:root {
    --background: #251a2d;
    --item-background: #573e69;
    --content-spacing: 5px;
    --text-color: white;
    --accent-1: #6eebff;
    --border: 2px solid rgb(34, 34, 34);
    --img-size: 150px;
}

header div {
    display: inline-block;
}
header h3 {
    margin: 5px;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    background-attachment: fixed;
}

a {
    color: var(--accent-1);
    margin: var(--content-spacing);
}

#nav {
    float: right;
}

#product-window {
    border: 0px solid black;
}
.product {
    display: inline-block;
    width: 20%;
    height: 20%;
    border: 2px solid grey;
    background-color: var(--item-background);
    margin: 10px;
}
.product p, .product input, .product a, .product button {
    margin-left: 10%;
    margin-bottom: 5%;
}